
body {
    background: url(https://www.gamingcfg.com/img/9611/Your-Turn-Hearthstone.jpg);
    background-size: cover;
}

#img-mech {
display: flex;
justify-content: space-between;
/* flex-direction: row-reverse; */
width: 100%;
}

#img-dragon {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-content: flex-end;
    width: 100%;
}