<form>
  <div class="container">
  <div class="form-one">
    <label for="exampleFormControlInput1">Please enter your full name:</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Mitch Mitcherson">
  </div>
  <div class="form-two">
    <label for="exampleFormControlSelect1">Please select a reason for reimburstment:</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Food</option>
      <option>Travel</option>
      <option>Lodging</option>
    </select>
  </div>
  <div class="form-three">
    <label for="exampleFormControlTextarea1">Discription:</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</div>
<div id="bottom"><p>C  e  l  e  s  t  i  a  l</p></div>
</form>